<h2 class="mt-3">会員一覧</h2>

<table class="table mt-3">
  <thead>
    <tr>
      <th class="col-lg-6 col-md-6 col-sm-6">ニックネーム</th>
      <th class="col-lg-3 col-md-3 col-sm-3">投稿数</th>
      <th class="col-lg-3 col-md-3 col-sm-3">レビュー数</th>
    </tr>
  </thead>

  <% @customers.each do |customer| %>
    <tbody>
      <tr>
        <td>
          <%= link_to customer_path(customer) do %>
            <%= customer.nickname.truncate(10, separator: "...") %>
          <% end %>
        </td>
        <td>
          <% if customer.posts.count >= 1 %>
            <%= link_to customer_posts_path(customer) do %>
              <%= customer.posts.count %>
            <% end %>
          <% else %>
            <%= customer.posts.count %>
          <% end %>
        </td>
        <td>
          <% if customer.reviews.count >= 1 %>
            <%= link_to customer_reviews_path(customer) do %>
              <%= customer.reviews.count %>
            <% end %>
          <% else %>
            <%= customer.posts.count %>
          <% end %>
        </td>
      </tr>
    </tbody>
  <% end %>
</table>
