<h2 class="row col-lg-12 justify-content-center mt-3">
  <%= @customer.nickname %>さんのページ
</h2>

<div class="row col-lg-12 mt-4">
  <div class="col-lg-5 p-1">
    <div class="border border-dark">
      <h5 class="text-center mt-2">会員情報</h5>

      <div class="row">
        <p class="col-lg-5 text-right">ニックネーム</p>
        <p class="col-lg-1">：</p>
        <p class="col-lg-6">
          <%= @customer.nickname %>
        </p>
      </div>

      <div class="row">
        <p class="col-lg-5 text-right">投稿数</p>
        <p class="col-lg-1">：</p>
        <p class="col-lg-6">
          <%= @customer.posts.count %>
        </p>
      </div>

      <div class="row">
        <p class="col-lg-5 text-right">レビュー数</p>
        <p class="col-lg-1">：</p>
        <p class="col-lg-6">
          <%= @customer.reviews.count %>
        </p>
      </div>

      <% if @customer.id == current_customer.id %>
      <div class="col text-center">
        <div>
          <%= link_to "会員情報詳細 / 編集", edit_customer_path, class:"btn btn-primary mb-3" %>
        </div>

        <div>
          <%= link_to "投稿画面へ", new_post_path, class:"btn btn-success mb-3" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>

  <div class="row col-lg-6 offset-1">

    <%# 会員の最新投稿 %>
    <div class="col-lg-12">
      <h5 class="col-lg-6">最新の投稿</h5>

      <% if @posts.first != nil %>
        <div class="col card p-2">
          <h6 class="card-title">
            <strong>
              <%= link_to post_path(@posts.first) do %>
                <%= @posts.first.title %>
              <% end %>
            </strong>
          </h6>

          <p class="card-text">
            <%= @posts.first.text %>
          </p>
        </div>

        <p class="col mt-2 text-right">
          投稿日時
          <%= @posts.first.updated_at.strftime("%Y_%m/%d_%H:%M") %>
        </p>
      <% else %>
        <h5 class="col mt-3">投稿はありません</h5>
      <% end %>
    </div>

    <%# 会員の最新レビュー %>
    <div class="col-lg-12">
      <h5 class="col mt-4">最新のレビュー</h5>

      <% if @reviews.first != nil %>
        <div class="col card p-2">
          <h6 class="card-title">
            <strong>
              <%= link_to review_path(@reviews.first) do %>
                <%= @reviews.first.title %>
              <% end %>
            </strong>
          </h6>

          <h6 class="card-subtitle">
            商品名：
            <%= link_to item_path(@reviews.first.item_id) do %>
              <%= @reviews.first.item.name %>
            <% end %>
          </h6>

          <%# ★で評価するための記述 %>
          <div class="col" id="star<%= @reviews.first.id %>"></div>
            <script>
              $('#star<%= @reviews.first.id %>').empty();
              $('#star<%= @reviews.first.id %>').raty({
                size: 36,
                starOff: '<%= asset_path('star-off.png') %>',
                starOn: '<%= asset_path('star-on.png') %>',
                half: false,
                readOnly: true,
                score:<%= @reviews.first.evaluation %>
              });
            </script>

          <p class="card-text mt-2">
            <%= @reviews.first.text %>
          </p>
        </div>

        <p class="col mt-2 text-right">
          投稿日時
          <%= @reviews.first.updated_at.strftime("%Y_%m/%d_%H:%M") %>
        </p>
      <% else %>
        <h5 class="col mt-3">レビューはありません</h5>
      <% end %>
    </div>
  </div>
</div>
