<h2 class="row col justify-content-center mt-3">
  <%= @customer.nickname %>さんのページ
</h2>

<div class="row mt-4">
  <div class="col-lg-5 col-md-5 p-1 mb-3">
    <div class="border border-dark">
      <h5 class="text-center mt-2">会員情報</h5>

      <!--ゲストログイン時の機能制限のための確認-->
      <% if current_customer.email == 'guest@example.com' %>
        <div class="row mt-1">
          <p class="col-lg-4 col-md-6 col-sm-4 text-right">ニックネーム</p>
          <p class="col-lg-1 col-md-1 col-sm-1">：</p>
          <p class="col-lg-7 col-md-12 col-sm-7">
            <%= @customer.nickname %>
          </p>
        </div>

        <div class="row">
          <p class="col-lg-4 col-md-6 col-sm-4 text-right">投稿数</p>
          <p class="col-lg-1 col-md-1 col-sm-1">：</p>
          <p class="col-lg-7 col-md-3 col-sm-7">
            <%= @customer.posts.count %>
          </p>
        </div>

        <div class="row">
          <p class="col-lg-4 col-md-6 col-sm-4 text-right">レビュー数</p>
          <p class="col-lg-1 col-md-1 col-sm-1">：</p>
          <p class="col-lg-7 col-md-3 col-sm-7">
            <%= @customer.reviews.count %>
          </p>
        </div>
      <% else %>
        <% if @customer == current_customer %>
          <p class="text-center mt-1">
            ※他の方に公開されているのは<br />
            ニックネーム<br />
            投稿数・レビュー数のみです
          </p>

          <%= render 'admin/customers/show', customer: @customer %>
        <% else %>
          <div class="row mt-1">
            <p class="col-lg-4 col-md-6 col-sm-4 text-right">ニックネーム</p>
            <p class="col-lg-1 col-md-1 col-sm-1">：</p>
            <p class="col-lg-7 col-md-12 col-sm-7">
              <%= @customer.nickname %>
            </p>
          </div>
        <% end %>

        <div class="row">
          <p class="col-lg-4 col-md-6 col-sm-4 text-right">投稿数</p>
          <p class="col-lg-1 col-md-1 col-sm-1">：</p>
          <p class="col-lg-7 col-md-3 col-sm-7">
            <%= @customer.posts.count %>
          </p>
        </div>

        <div class="row">
          <p class="col-lg-4 col-md-6 col-sm-4 text-right">レビュー数</p>
          <p class="col-lg-1 col-md-1 col-sm-1">：</p>
          <p class="col-lg-7 col-md-3 col-sm-7">
            <%= @customer.reviews.count %>
          </p>
        </div>
      <% end %>

    <!--ゲストログイン時の機能制限のための確認-->
    <% if current_customer.email == 'guest@example.com' %>
    <% else %>
      <% if @customer.id == current_customer.id %>
      <div class="col text-center">
        <div>
          <%= link_to "会員情報編集", edit_customer_path, class:"btn btn-primary mb-3" %>
        </div>

        <% if @genres.count >= 1 %>
        <div>
          <%= link_to "投稿画面へ", new_post_path, class:"btn btn-success mb-3" %>
        </div>
        <% end %>
      </div>
      <% end %>
    <% end %>
    </div>
  </div>

  <div class="row col-lg-6 col-md-6 ml-3">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <% if @posts.first != nil %>
        <div class="row">
          <h5 class="col-lg-5 col-md-12 col-sm-5">最新の投稿</h5>

          <%= link_to customer_posts_path(@customer), class:"col-lg-7 col-md-12 col-sm-7" do %>
            <p class="btn btn-outline-info btn-sm text-dark">この会員の投稿一覧へ</p>
          <% end %>
        </div>

        <div class="col card p-2">
          <h6 class="card-title">
            <strong>
              <%= link_to post_path(@posts.first) do %>
                <%= @posts.first.title %>
              <% end %>
            </strong>
          </h6>

          <p class="card-text">
            <%= @posts.first.text %>
          </p>
        </div>

        <p class="col mt-2 text-right">
          投稿日時
          <%= @posts.first.created_at.strftime("%Y_%m/%d_%H:%M") %>
        </p>
      <% else %>
        <h5 class="col mt-3">投稿はありません</h5>
      <% end %>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12">
      <% if @reviews.first != nil %>
        <div class="row">
          <h5 class="col-lg-5 col-md-12 col-sm-5">最新のレビュー</h5>

          <%= link_to customer_reviews_path(@customer),class:"col-lg-7 col-md-12 col-sm-7" do %>
            <p class="btn btn-outline-info btn-sm text-dark">この会員のレビュー一覧へ</p>
          <% end %>
        </div>

        <div class="col card p-2">
          <h6 class="card-title">
            <strong>
              <%= link_to review_path(@reviews.first) do %>
                <%= @reviews.first.title %>
              <% end %>
            </strong>
          </h6>

          <h6 class="card-subtitle mt-1 mb-1">
            商品名：
            <%= link_to item_path(@reviews.first.item_id) do %>
              <%= @reviews.first.item.name %>
            <% end %>
          </h6>

          <%= render 'admin/reviews/star', review: @reviews.first %>

          <p class="card-text mt-2">
            <%= @reviews.first.text %>
          </p>
        </div>

        <p class="col mt-2 text-right">
          投稿日時
          <%= @reviews.first.updated_at.strftime("%Y_%m/%d_%H:%M") %>
        </p>
      <% else %>
        <h5 class="col mt-3">レビューはありません</h5>
      <% end %>
    </div>
  </div>
</div>
