<div class="container">

  <h2 class="text-danger text-center mt-3">
    <strong>投稿削除確認</strong>
  </h2>

  <div class="row">
    <div class="col-lg-5">
      <h5 class="col text-center mt-2">
        投稿者：<strong><%= @post.customer.nickname %></strong>
      </h5>

      <div class="card">
        <h6 class="card-title p-1">
          タイトル：<strong><%= @post.title %></strong>
        </h6>

        <div class="card-text p-2"><strong>内容</strong>
          <p class="p-1"><%= @post.text %></p>
        </div>
      </div>

      <p class="row justify-content-center text-center mt-3">
        <strong>
          この投稿に関連する情報が完全に消去されます<br />
          本当に削除してもよろしいですか？
        </strong>
      </p>

      <div class="col text-center">
        <%= link_to "削除する", post_path(@post.id), method: :delete, class:"btn btn-outline-danger" %>
        <p class="mt-2">削除するとマイページに移動します</p>
      </div>
    </div>

    <div class="col-lg-6 ml-2">
      <h5 class="text-center">
        コメント件数：<%= @post.post_comments.count %>
      </h5>
      <% if @post.post_comments.count >= 1 %>
        <% @post.post_comments.each do |post_comment| %>
          <div class="card col mt-4">
            <div class="row card-title border-bottom">
              <div class="border-right col-lg-7 text-center pt-2">
                <%= post_comment.customer.nickname %>
              </div>
              <div class="border-right col-lg-5 text-center p-2">
                <%= post_comment.created_at.strftime('%Y/%m/%d') %>
              </div>
            </div>
            <p class="card-text p-1"><%= post_comment.comment %></p>
          </div>
        <% end %>
      <% else %>
        <p class="text-center">この投稿に対するコメントはありません</p>
      <% end %>
    </div>
  </div>

</div>