<div class="container">

  <h2>投稿一覧</h2>

  <% if @posts.count >= 1 %>
    <table class="table">
      <thead>
        <tr>
          <th>投稿の種類</th>
          <th>タイトル</th>
          <th>投稿者</th>
        </tr>
      </thead>

      <tbody>
        <% @posts.each do |post| %>
          <tr>
            <td><%= post.genre.genre %></td>
            <td>
              <%= link_to post_path(post.id) do %>
                <%= post.title %>
              <% end %>
            </td>
            <td>
              <%= link_to customer_path(post.customer_id) do %>
                <%= post.customer.nickname %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <h4>投稿はありません</h4>
  <% end %>

</div>
