<h2 class="mt-3">投稿詳細</h2>

<div class="row">
  <div class="col-lg-5">
    <h5 class="col text-center mt-2">
      投稿者：
      <%= link_to customer_path(@post.customer.id) do %>
        <strong><%= @post.customer.nickname %></strong>
      <% end %>
    </h5>

    <div class="card">
      <h6 class="card-title p-1">
        タイトル：
        <strong><%= @post.title %></strong>
      </h6>

      <div class="card-text p-2">
        <strong>内容</strong>
        <p class="p-1"><%= @post.text %></p>
      </div>
    </div>

    <p class="col text-right mt-3">
      投稿日時
      <%= @post.created_at.strftime("%Y_%m/%d_%H:%M") %>
    </p>

    <% if @post.customer.id == current_customer.id %>
      <div class="col text-center mt-4">
        <%= link_to "削除画面へ", post_confirm_path(@post.id), class:"btn btn-outline-danger" %>
      </div>
    <% end %>

    <!--ゲストログイン時の機能制限のための確認-->
    <% if current_customer.email == 'guest@example.com' %>
      <p class="text-center mt-3">コメント機能は会員登録をすることで利用できます</p>
    <% else %>
      <%= form_with model: [@post, @post_comment] do |f| %>
        <h5 class="col text-center mt-3">
          <%= f.label :comment, "コメントフォーム" %>
        </h5>

        <div class="col-lg-10 mx-auto">
          <%= f.text_area :comment, class:"col form-control" %>
        </div>

        <div class="col text-center mt-3">
          <%= f.submit "コメントする", class:"btn btn-success" %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="col-lg-6 ml-2">
    <h5 class="text-center">
      コメント件数：<%= @post.post_comments.count %>
    </h5>

    <% if @post.post_comments.count >= 1 %>
      <% @post.post_comments.each do |post_comment| %>
        <div class="card col mt-4">
          <div class="row card-title border-bottom">
            <div class="border-right col-lg-5 text-center pt-2">
              <%= post_comment.customer.nickname %>
            </div>

            <div class="col-lg-4 text-center p-2">
              <%= post_comment.created_at.strftime("%Y_%m/%d_%H:%M") %>
            </div>

            <% if post_comment.customer.id == current_customer.id %>
              <%= link_to "コメント削除", post_post_comment_path(post_comment.post, post_comment), method: :delete, class:"btn btn-outline-danger col","data-confirm" => "このコメントを削除しますか？" %>
            <% end %>
          </div>

          <p class="card-tect p-1"><%= post_comment.comment %></p>
        </div>
      <% end %>
    <% else %>
      <p class="text-center">この投稿に対するコメントはありません</p>
    <% end %>
  </div>
</div>
