<div class="row">
  <h2 class="col-lg-8 mt-3">商品一覧</h2>

  <h4 class="col-lg-4 mt-3">
    <%= link_to "商品登録", new_admin_item_path, class:"btn btn-success" %>
  </h4>

  <% @items.each do |item| %>
    <div class="col-md-3 mt-3">
    <%= link_to admin_item_path(item.id) do %>
      <div class="card">
        <div class="img-siz">
          <%= image_tag item.get_image(400, 400), class:"img-fit" %>
        </div>
        <div class="card-body">
          <h6 class="card-title items">
            <%= item.name %>
          </h6>

          <p class="card-text">
            <%= item.price %>円<br />
            レビュー数：<%= item.review.count %>
          </p>
        </div>
      </div>
    <% end %>
    </div>
  <% end %>
</div>
