<h2 class="mt-3">商品詳細</h2>

<div class="row mt-3">
  <div class="col-lg-5 col-md-5 col-sm-12">
    <div class="card">
      <%= image_tag @item.get_image(200, 200), class:"card-img-top" %>
      <div class="p-2">
        <p><%= @item.name %></p>
        <p>価格：<%= @item.price %>円</p>
        <p><%= @item.introduction %></p>
      </div>
    </div>

    <div class="col mt-3 mb-3 text-center">
      <%= link_to "商品編集", edit_admin_item_path(@item.id), class:"mr-2 btn btn-primary" %>
      <%= link_to "商品削除", admin_item_confirm_path(@item.id), class:"btn btn-danger" %>
    </div>
  </div>

  <div class="col-lg-7 col-md-7 col-sm-12">
    <% if @item.review.count >= 1 %>
    <%# レビューがあれば表示する%>
      <h5 class="text-center">この商品のレビュー</h5>
      <% @reviews.each do |review| %>
        <div class="row mt-2 border border-secondary rounded p-3">
          <div class="col-lg-6 col-md-12 col-sm-12">
            <%= link_to admin_review_path(review.id), class:"text-dark" do %>
              <strong><%= review.title %></strong>
            <% end %>
          </div>

          <div class="row col-lg-6 col-md-12 col-sm-12 justify-content-end">
            評価：<%= render 'admin/reviews/star', review: review %>
          </div>

          <%= link_to admin_customer_path(review.customer_id) do %>
            <p class="col-lg-12 col-md-12 col-sm-12 mt-2">
              投稿者
              <%= review.customer.nickname %>
            </p>
          <% end %>

          <div class="col-lg-12 col-md-12 col-sm-12 mt-3"><%= review.text %></div>
        </div>

        <p class="col-lg-12 col-md-12 col-sm-12 mt-2 text-right">
          投稿日時
          <%= review.updated_at.strftime("%Y_%m/%d_%H:%M") %>
        </p>
      <% end %>
    <% else %>
      <h5 class="text-center">この商品はまだレビューがありません</h5>
    <% end %>
  </div>
</div>
