<div class="row mt-3">
  <h2 class="col-lg-5"><%= @customer.nickname %>さんの投稿一覧</h2>
</div>

<% if @posts.count >= 1 %>
  <table class="table">
    <thead>
      <tr>
        <th class="col-lg-2 col-md-2 col-sm-3">投稿の種類</th>
        <th class="col-lg-3 col-md-4 col-sm-3">タイトル</th>
        <th class="col-lg-2 col-md-2 col-sm-2">分析スコア</th>
        <th class="col-lg-2 col-md-2 col-sm-2">コメント数</th>
        <th class="col-lg-3 col-md-2 col-sm-2">投稿年_日</th>
      </tr>
    </thead>

    <tbody>
      <% @posts.each do |post| %>
      <tr>
        <td nowrap><%= post.genre.genre %></td>
        <td>
          <%= link_to admin_post_path(post.id), class:"text-dark" do %>
            <%= post.title.truncate(8, separator: "...") %>
          <% end %>
        </td>
        <td>
          <% if post.score != nil %>
            <strong>
            <% if post.score >= 0.4 %>
              <span class="text-success"><%= post.score %></span>
            <% elsif post.score <= -0.4 %>
              <span class="text-danger"><%= post.score %></span>
            <% else %>
              <%= post.score %>
            <% end %>
            </strong>
          <% end %>
        </td>
        <td><%= post.post_comments.count %></td>
        <td><%= post.created_at.strftime("%Y_%m/%d") %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <h4>投稿はありません</h4>
<% end %>
