<h2 class="row col-lg-12 justify-content-center mt-3">
  <%= @customer.nickname %>さんのページ
</h2>

<div class="row col-lg-12 col-md-12 col-sm-12 mt-4">
  <div class="col-lg-5 col-md-5 p-3">
    <div class="border border-dark">
      <h5 class="text-center mt-2">会員情報</h5>

      <div class="row mt-3">
        <p class="col-lg-5 col-md-5 text-right">名前</p>
        <p class="col-lg-1 col-md-1">：</p>
        <p class="col-lg-6 col-md-12">
          <%= @customer.last_name %>
          <%= " " %>
          <%= @customer.first_name %>
        </p>
      </div>

      <div class="row">
        <p class="col-lg-5 col-md-5 text-right">フリガナ</p>
        <p class="col-lg-1 col-md-1">：</p>
        <p class="col-lg-6 col-md-12">
          <%= @customer.last_name_kana %>
          <%= " " %>
          <%= @customer.first_name_kana %>
        </p>
      </div>

      <div class="row">
        <p class="col-lg-5 col-md-6 text-right">ニックネーム</p>
        <p class="col-lg-1 col-md-1">：</p>
        <p class="col-lg-6 col-md-12">
          <%= @customer.nickname %>
        </p>
      </div>

      <div class="row">
        <p class="col-lg-5 col-md-5 text-right">電話番号</p>
        <p class="col-lg-1 col-md-1">：</p>
        <p class="col-lg-6 col-md-12">
          <%= @customer.phone_number %>
        </p>
      </div>

      <div class="row">
        <p class="col-lg-5 col-md-5 text-right">年齢</p>
        <p class="col-lg-1 col-md-1">：</p>
        <p class="col-lg-6 col-md-3">
          <%= @customer.age %>
        </p>
      </div>

      <div class="row">
        <p class="col-lg-5 col-md-5 text-right">投稿数</p>
        <p class="col-lg-1 col-md-1">：</p>
        <%= link_to admin_customer_posts_path(@customer), class:"text-dark" do %>
          <p class="col-lg-6 col-md-3">
            <%= @customer.posts.count %>
          </p>
        <% end %>
      </div>

      <div class="row">
        <p class="col-lg-5 col-md-5 text-right">レビュー数</p>
        <p class="col-lg-1 col-md-1">：</p>
        <%= link_to admin_customer_reviews_path(@customer), class:"text-dark" do %>
          <p class="col-lg-6 col-md-3">
            <%= @customer.reviews.count %>
          </p>
        <% end %>
      </div>

      <div class="row">
        <p class="col-lg-5 col-md-5 text-right">ステータス</p>
        <p class="col-lg-1 col-md-1">：</p>
        <p class="col-lg-6 col-md-3">
          <% if @customer.is_deleted == false %>
            有効
          <% else %>
            無効
          <% end %>
        </p>
      </div>

      <div class="col text-center">
        <%= link_to "情報の確認 / 編集", edit_admin_customer_path(@customer.id), class:"btn btn-primary mb-3" %>
      </div>
    </div>
  </div>

  <div class="row col-lg-6 col-md-6 offset-1">
    <%# 会員の最新投稿 %>
    <div class="col-lg-12 col-md-12">
      <% if @posts.first != nil %>
        <div class="row">
        <h5 class="col-lg-5 col-md-12">最新の投稿</h5>

        <%= link_to admin_customer_posts_path(@customer), class:"col-lg-7 col-md-12" do %>
          <p class="btn btn-outline-info btn-sm text-dark">この会員の投稿一覧へ</p>
        <% end %>
        </div>

        <div class="col card p-2">
          <h6 class="card-title">
            <%= link_to admin_post_path(@posts.first), class:"text-dark" do %>
              <strong><%= @posts.first.title %></strong>
            <% end %>
          </h6>

          <p class="card-text">
            <%= @posts.first.text %>
          </p>
        </div>

        <p class="col mt-2 text-right">
          投稿日時
          <%= @posts.first.created_at.strftime("%Y_%m/%d_%H:%M") %>
        </p>
      <% else %>
        <h5 class="col mt-3">投稿はありません</h5>
      <% end %>
    </div>

    <%# 会員の最新レビュー %>
    <div class="col-lg-12 col-md-12">
      <% if @reviews.first != nil %>
        <div class="row">
          <h5 class="col-lg-5 col-md-12">最新のレビュー</h5>

          <%= link_to admin_customer_reviews_path(@customer),class:"col-lg-7 col-md-12" do %>
            <p class="btn btn-outline-info btn-sm text-dark">この会員のレビュー一覧へ</p>
          <% end %>
        </div>

        <div class="col card p-2">
          <h6 class="card-title">
            <%= link_to admin_review_path(@reviews.first), class:"text-dark" do %>
              <strong><%= @reviews.first.title %></strong>
            <% end %>
          </h6>

          <h6 class="card-subtitle">
            商品名：<%= @reviews.first.item.name %>
          </h6>

          <%= render 'admin/reviews/star', review: @reviews.first %>

          <p class="card-text mt-2">
            <%= @reviews.first.text %>
          </p>
        </div>

        <p class="col mt-2 text-right">
          投稿日時
          <%= @reviews.first.updated_at.strftime("%Y_%m/%d_%H:%M") %>
        </p>
      <% else %>
        <h5 class="col mt-3">レビューはありません</h5>
      <% end %>
    </div>
  </div>
</div>
