<div class="container">

  <h2 class="row col-lg-12 justify-content-center mt-2">
    <%= @customer.nickname %>さんのページ
  </h2>

  <div class="row col-lg-12 mt-4">
    <div class="col-lg-5 border border-dark p-3">
      <div>
        <h5 class="text-center">会員情報</h5>
      </div>

      <div class="row mt-3">
        <p class="col-lg-5 text-right">名前</p>
        <p class="col-lg-1">：</p>
        <p class="col-lg-6">
          <%= @customer.last_name %>
          <%= " " %>
          <%= @customer.first_name %>
        </p>
      </div>

      <div class="row">
        <p class="col-lg-5 text-right">フリガナ</p>
        <p class="col-lg-1">：</p>
        <p class="col-lg-6">
          <%= @customer.last_name_kana %>
          <%= " " %>
          <%= @customer.first_name_kana %>
        </p>
      </div>

      <div class="row">
        <p class="col-lg-5 text-right">ニックネーム</p>
        <p class="col-lg-1">：</p>
        <p class="col-lg-6">
          <%= @customer.nickname %>
        </p>
      </div>

      <div class="row">
        <p class="col-lg-5 text-right">電話番号</p>
        <p class="col-lg-1">：</p>
        <p class="col-lg-6">
          <%= @customer.phone_number %>
        </p>
      </div>

      <div class="row">
        <p class="col-lg-5 text-right">年齢</p>
        <p class="col-lg-1">：</p>
        <p class="col-lg-6">
          <%= @customer.age %>
        </p>
      </div>

      <div class="row">
        <p class="col-lg-5 text-right">投稿数</p>
        <p class="col-lg-1">：</p>
        <p class="col-lg-6">
          <%= @customer.posts.count %>
        </p>
      </div>

      <div class="row">
        <p class="col-lg-5 text-right">レビュー数</p>
        <p class="col-lg-1">：</p>
        <p class="col-lg-6">
          <%= @customer.reviews.count %>
        </p>
      </div>

      <div class="row">
        <p class="col-lg-5 text-right">ステータス</p>
        <p class="col-lg-1">：</p>
        <p class="col-lg-6">
          <% if @customer.is_deleted == false %>
            有効
          <% else %>
            無効
          <% end %>
        </p>
      </div>

      <div class="row col-lg-12">
        <%= link_to "情報の確認 / 編集", edit_admin_customer_path(@customer.id), class:"btn btn-primary mx-auto" %>
      </div>
    </div>

    <div class="row col-lg-6 offset-1">
      <%# 会員の最新投稿 %>
      <div>
        <h5 class="col border-bottom">最新の投稿</h5>

        <div class="col p-2">
          <% if @post != nil %>
            <div>
              <strong><%= @post.title %></strong>
            </div>

            <div class="border border-dark rounded mt-2">
              <%= @post.text %>
            </div>
          <% else %>
            <h5>投稿はありません</h5>
          <% end %>
        </div>
      </div>
      <%# 会員の最新レビュー %>
      <div>
        <h5 class="col border-bottom">最新のレビュー</h5>

        <div class="col p-2">
          <% if @review != nil %>
            <div class="col">
              <strong><%= @review.title %></strong>
            </div>

            <div class="col mt-1">
              商品名：<%= @review.item.name %></p>
            </div>

            <%# ★で評価するための記述 %>
            <div class="col" id="star<%= @review.id %>"></div>
              <script>
                $('#star<%= @review.id %>').empty();
                $('#star<%= @review.id %>').raty({
                  size: 36,
                  starOff: '<%= asset_path('star-off.png') %>',
                  starOn: '<%= asset_path('star-on.png') %>',
                  half: false,
                  readOnly: true,
                  score:<%= @review.evaluation %>
                });
              </script>

            <div class="border border-dark rounded mt-2">
              <%= @review.text %>
            </div>
          <% else %>
            <h5>レビューはありません</h5>
          <% end %>
        </div>
      </div>
    </div>

  </div>

</div>
