<%# ★評価を表示するための記述 %>
<div id="star<%= review.id %>"></div>
<script>
  $('#star<%= review.id %>').empty();
  $('#star<%= review.id %>').raty({
    size: 36,
    starOff: '<%= asset_path('star-off.png') %>',
    starOn: '<%= asset_path('star-on.png') %>',
    half: false,
    readOnly: true,
    score:<%= review.evaluation %>
  });
</script>
