<div class="row mt-3">
  <h2 class="col-lg-5 col-md-5 col-sm-5">レビュー一覧</h2>

  <p class="col-lg-5 col-md-5 col-sm-6 ml-3"><%= link_to "レビューコメント一覧へ", admin_review_comments_path, class:"btn btn-info" %></p>
</div>

<% if @reviews.count >= 1 %>
  <table class="table">
    <thead>
      <tr>
        <%= render 'review_thead' %>
      </tr>
    </thead>

    <tbody>
      <% @reviews.each do |review| %>
        <tr>
          <td>
            <%= link_to admin_review_path(review.id), class:"text-dark" do %>
              <%= review.title.truncate(8, separator: "...") %>
            <% end %>
          </td>
          <td nowrap>
            <%= render 'star', review: review %>
          </td>
          <td>
            <%= link_to admin_item_path(review.item_id), class:"text-dark" do %>
              <%= image_tag review.item.get_image(50, 50) %>
              <%= review.item.name.truncate(8, separator: "...") %>
            <% end %>
          </td>
          <td>
            <%= link_to admin_customer_path(review.customer_id), class:"text-dark" do %>
              <%= review.customer.nickname.truncate(8, separator: "...") %>
            <% end %>
          </td>
          <td><%= review.review_comments.count %></td>
          <td><%= review.updated_at.strftime("%Y_%m/%d") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <h4>レビューはありません</h4>
<% end %>
