<div class="container">

  <h2>レビュー詳細</h2>

  <div class="row">
    <div class="col-lg-4">
      <%= image_tag @review.item.get_image(200, 200) %>
      <div class="mt-2">
        <div>
          <%= @review.item.name %>
        </div>
        <div>
          <%= @review.item.price %>円
        </div>
        <div>
          <%= @review.item.introduction %>
        </div>
      </div>
    </div>

    <div class="col-lg-8">
      <h5>投稿者</h5>
      <%= link_to admin_customer_path(@review.customer.id) do %>
        <%= @review.customer.nickname %>
      <% end %>

      <div class="row">
        <h5>タイトル</h5>
        <%= @review.title %>
      </div>

      <div class="row">
        <h5>内容</h5>
        <%= @review.text %>
      </div>

      <div>
        <%= link_to "投稿削除", admin_review_confirm_path(@review.id) %>
      </div>

      <div>
        <p>
          コメント件数：<%= @review.review_comments.count %>
        </p>
        <% @review.review_comments.each do |review_comment| %>
          <p><%= review_comment.customer.nickname %>
          <%= review_comment.created_at.strftime('%Y/%m/%d') %></p>
          <p><%= review_comment.comment %></p>
          <%= link_to "コメント削除", admin_review_comment_path(review_comment.id), method: :delete, "data-confirm" => "削除しますか？" %>
        <% end %>
      </div>
    </div>
  </div>

</div>
