<div class="container">

  <h2>レビュー一覧</h2>

  <% if @reviews.count >= 1 %>
    <table class="table">
      <thead>
        <tr>
          <th>評価</th>
          <th>内容</th>
          <th>投稿者</th>
        </tr>
      </thead>

      <tbody>
        <% @reviews.each do |review| %>
          <tr>
            <td><%= review.evaluation %></td>
            <td>
              <%= link_to review_path(review.id) do %>
                <%= review.text %>
              <% end %>
            </td>
            <td>
              <%= link_to customer_path(review.customer_id) do %>
                <%= review.customer.nickname %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <h4>レビューはありません</h4>
  <% end %>

</div>
