<div class="container">

  <h2>レビュー一覧</h2>

  <% if @reviews.count >= 1 %>
    <table class="table">
      <thead>
        <tr>
          <th>商品画像</th>
          <th>商品名</th>
          <th>評価</th>
          <th>タイトル</th>
          <th>投稿者</th>
          <th>コメント数</th>
        </tr>
      </thead>

      <tbody>
        <% @reviews.each do |review| %>
          <tr>
            <td>
              <%= link_to item_path(review.item_id) do %>
                <%= image_tag review.item.get_image(50, 50) %>
              <% end %>
            </td>
            <td>
              <%= link_to item_path(review.item_id) do %>
                <%= review.item.name %>
              <% end %>
            </td>
            <td><%= review.evaluation %></td>
            <td>
              <%= link_to review_path(review.id) do %>
                <%= review.title %>
              <% end %>
            </td>
            <td>
              <%= link_to customer_path(review.customer_id) do %>
                <%= review.customer.nickname %>
              <% end %>
            </td>
            <td>
              <%#= review.review_comments.count %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <h4>レビューはありません</h4>
  <% end %>

</div>
