<div class="container">

  <div class="row">
    <h5>投稿者</h5>
    <%= @post.customer.nickname %>
  </div>

  <div class="row">
    <h5>タイトル</h5>
    <%= @post.title %>
  </div>

  <div class="row">
    <h5>内容</h5>
    <%= @post.text %>
  </div>

  <div>
    <p>
      コメント数：<%= @post.post_comments.count %>
    </p>
  </div>

  <p>
    この投稿に関する情報が完全に消去されます<br />
    本当に削除してもよろしいですか？
  </p>

  <div>
    <p>削除すると、投稿者のページに移動します</p>
    <%= link_to "削除する", admin_post_path(@post.id), method: :delete %>
  </div>

</div>
