<h2 class="mt-3">投稿詳細</h2>

<div class="row">
  <div class="col-lg-5 col-md-5 col-sm-12">
    <h5 class="col text-center mt-2">
      投稿者：
      <%= link_to admin_customer_path(@post.customer.id), class:"text-dark" do %>
        <strong><%= @post.customer.nickname %></strong>
      <% end %>
    </h5>

    <%= render 'post_comment_card', post: @post %>

    <div class="col text-center mt-4 mb-3">
      <%= link_to "削除画面へ", admin_post_confirm_path(@post.id), class:"btn btn-danger" %>
    </div>
  </div>

  <div class="col-lg-6 col-md-6 col-sm-12 ml-2">
    <h5 class="text-center">
      コメント件数：<%= @post.post_comments.count %>
    </h5>
    <% if @post.post_comments.count >= 1 %>
      <% @post.post_comments.each do |post_comment| %>
        <div class="card col mt-4">
          <div class="row card-title border-bottom">
            <div class="border-right border-bottom col-lg-5 col-md-6 col-sm-7 text-center pt-2">
              <%= post_comment.customer.nickname %>
            </div>

            <div class="border-bottom col-lg-4 col-md-6 col-sm-5 text-center p-2">
              <%= post_comment.created_at.strftime("%Y_%m/%d_%H:%M") %>
            </div>

            <%= link_to "削除", admin_post_comment_path(post_comment.id), method: :delete, class:"btn btn-outline-danger col","data-confirm" => "このコメントを削除しますか？" %>
          </div>
          <p class="card-tect p-1"><%= post_comment.comment %></p>
        </div>
      <% end %>
    <% else %>
      <p class="text-center">この投稿に対するコメントはありません</p>
    <% end %>
  </div>
</div>
