<h2 class="text-center mt-3">新規登録</h2>

<div class="mt-3">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "public/shared/error_messages", resource: resource %>

    <div class="row field form-group">
      <div class="col-lg-3 col-md-4 col-sm-7 text-right">
        <%= f.label "名前" %>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6">
        <%= f.label :last_name, "(姓)", class:"ml-3" %>
        <%= f.text_field :last_name, :placeholder => "鈴木", autofocus: true, required: true %>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6">
        <%= f.label :first_name, "(名)", class:"ml-3" %>
        <%= f.text_field :first_name, :placeholder => "一郎", autofocus: true, required: true %>
      </div>
    </div>

    <div class="row field form-group">
      <div class="col-lg-3 col-md-4 col-sm-7 text-right">
        <%= f.label "フリガナ" %>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6">
        <%= f.label :last_name_kana, "(セイ)" %>
        <%= f.text_field :last_name_kana, :placeholder => "スズキ", autofocus: true, required: true %>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6">
        <%= f.label :first_name_kana, "(メイ)" %>
        <%= f.text_field :first_name_kana, :placeholder => "イチロウ", autofocus: true, required: true %>
      </div>
    </div>

    <div class="row field form-group">
      <div class="col-lg-3 col-md-4 col-sm-5 text-right">
        <%= f.label :nickname, "ニックネーム" %>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-6">
        <%= f.text_field :nickname, :placeholder => "イチロー", autofocus: true, required: true %><br />
        <%= f.label "※公開される名前になります" %>
      </div>
    </div>

    <div class="row field form-group">
      <div class="col-lg-3 col-md-4 col-sm-5 text-right">
        <%= f.label :phone_number, "電話番号（ハイフンなし）" %>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-6">
        <%= f.text_field :phone_number, :placeholder => "09012345678", autofocus: true, required: true %>
      </div>
    </div>

    <div class="row field form-group">
      <div class="col-lg-3 col-md-4 col-sm-5 text-right">
        <%= f.label :age, "年齢" %>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-6">
        <%= f.text_field :age, :placeholder => "25", autofocus: true, required: true %>
      </div>
    </div>

    <div class="row field form-group">
      <div class="col-lg-3 col-md-4 col-sm-5 text-right">
        <%= f.label :email, "メールアドレス" %>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-6">
        <%= f.email_field :email, :placeholder => "sample@sample.com", autofocus: true, autocomplete: "email", required: true %>
      </div>
    </div>

    <div class="row field form-group">
      <div class="col-lg-3 col-md-4 col-sm-5 text-right">
        <%= f.label :password, "パスワード" %>
        <% if @minimum_password_length %>
        <em>（<%= @minimum_password_length %> 文字以上）</em>
        <% end %>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-6">
        <%= f.password_field :password, autocomplete: "new-password", required: true %>
      </div>
    </div>

    <div class="row field form-group">
      <div class="col-lg-3 col-md-4 col-sm-5 text-right">
        <%= f.label :"パスワード（確認用）" %>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-6">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", required: true %>
      </div>
    </div>

    <div class="row col-lg-12 col-md-12 col-sm-12 justify-content-center mt-3">
      <div class="actions">
        <%= f.submit "新規登録", class:"btn btn-success" %>
      </div>
    </div>
  <% end %>
</div>

<div class="text-center mt-4">
  <%= link_to "登録済みの方はこちら", new_customer_session_path %>
</div>

<div class="text-center mt-4">
  <%= link_to "登録せずに閲覧（ゲストログイン）", customers_guest_sign_in_path, class:"btn btn-secondary", method: :post %>
</div>
