<h2 class="mt-3">商品一覧</h2>

<div class="row">
<% if @items.count >= 1 %>
  <% @items.each do |item| %>
    <div class="col-md-3 mt-3">
    <%= link_to item_path(item.id) do %>
      <div class="card">
        <div class="img-siz">
          <%= image_tag item.get_image(400, 400), class:"img-fit" %>
        </div>

        <div class="card-body">
          <h6 class="card-title items">
            <%= item.name %>
          </h6>

          <p class="card-text">
            <%= item.price %>円<br />
            レビュー数：<%= item.review.count %>
          </p>
        </div>
      </div>
    <% end %>
    </div>
  <% end %>
<%else %>
  <h5 class="text-center mt-4">現在準備中です。しばらくお待ちください。</h5>
<% end %>
</div>
