<div class="container">

  <div class="row">
    <h2>商品詳細</h2>
  </div>

  <div>
    <div class="row">
      <div>
      <%= image_tag @item.get_image(100, 100) %>
      </div>
      <div>
        <%= @item.name %><br />
        <%= @item.introduction %><br />
        <%= @item.price %>円
      </div>
    </div>
  </div>

  <div class="row">
    <h4>商品レビュー</h4>
    <%= render 'public/reviews/new', review: @review %>
  </div>

</div>
