<ul class="navbar-nav col-lg-12">
  <li class="nav-item m-auto">
    <%= link_to "商品一覧", admin_items_path, class:"btn btn-secondary" %>
  </li>

  <li class="nav-item m-auto">
    <%= link_to "会員一覧", admin_customers_path, class:"btn btn-secondary" %>
  </li>

  <li class="nav-item m-auto">
    <%= link_to "投稿一覧", admin_posts_path, class:"btn btn-secondary" %>
  </li>

  <li class="nav-item m-auto">
    <%= link_to "レビュー一覧", admin_reviews_path, class:"btn btn-secondary" %>
  </li>

  <li class="nav-item m-auto">
    <%= link_to "ジャンル一覧", admin_genres_path, class:"btn btn-secondary" %>
  </li>

  <li class="nav-item m-auto">
    <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class:"btn btn-secondary" %>
  </li>
</ul>
