<ul>
  <li>
    <%= link_to "商品一覧", items_path, class:"btn btn-light" %>
  </li>

  <li>
    <%= link_to "会員一覧", customers_path, class:"btn btn-light" %>
  </li>

  <li>
    <%= link_to "投稿一覧", posts_path, class:"btn btn-light" %>
  </li>

  <li>
    <%= link_to "レビュー一覧", reviews_path, class:"btn btn-light" %>
  </li>

  <%# 会員がログインしているかで表示を切り替える %>
  <% if customer_signed_in? %>
    <li>
      <%= link_to "マイページ", customer_path(current_customer.id), class:"btn btn-light" %>
    </li>
    <li>
      <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class:"btn btn-light" %>
    </li>
  <% else %>
    <li>
      <%= link_to "ログイン", customer_session_path, class:"btn btn-light" %>
    </li>
  <% end %>
</ul>
