<ul class="navbar-nav col-lg-12">
  <li class="nav-item m-auto">
    <%= link_to "商品一覧", items_path, class:"navi-link text-dark" %>
  </li>

  <li class="nav-item m-auto">
    <%= link_to "会員一覧", customers_path, class:"navi-link text-dark" %>
  </li>

  <li class="nav-item m-auto">
    <%= link_to "投稿一覧", posts_path, class:"navi-link text-dark" %>
  </li>

  <li class="nav-item m-auto">
    <%= link_to "レビュー一覧", reviews_path, class:"navi-link text-dark" %>
  </li>

  <%# 会員がログインしているかで表示を切り替える %>
  <% if customer_signed_in? %>
    <li class="nav-item m-auto">
      <%= link_to "マイページ", customer_path(current_customer.id), class:"navi-link text-dark" %>
    </li>
    <li class="nav-item m-auto">
      <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class:"navi-link text-dark" %>
    </li>
  <% else %>
    <li class="nav-item m-auto">
      <%= link_to "ログイン", customer_session_path, class:"navi-link text-dark" %>
    </li>
  <% end %>
</ul>
